<div class="wrapper">
  <app-header></app-header>
  <main>
    <form [formGroup]="resetPasswordForm" (ngSubmit)="setNewPassword()">
      <h1>Reset Your Password</h1>

      <p>Please enter and Confirm your new password below.</p>

      <app-form-input-with-error
        formControlName="password"
        [placeholder]="'Password'"
        [type]="'password'"
        [errorSet]="'password'"
        [control]="password"
      ></app-form-input-with-error>

      <app-form-input-with-error
        formControlName="passwordRepeat"
        [placeholder]="'Repeat your Password'"
        [type]="'password'"
        [errorSet]="'repeat'"
        [control]="passwordRepeat"
      ></app-form-input-with-error>

      <app-button-without-icon
        [content]="'Sign Up'"
        [type]="'subbmit'"
        [colorStyle]="'red'"
        [height]="'40px'"
        [width]="'100%'"
        [fontWeight]="700"
      ></app-button-without-icon>
    </form>
  </main>
</div>
