<form action="">
  <img class="arrow-back" src="./assets/img/arrow_back.svg" alt="arrow_back" />
  <h2>Passwort zurücksetzen</h2>
  <span>Bitte geben Sie Ihre E-Mail-Adresse ein.</span>
  <div class="input-with-error-wrapper">
    <div class="input-wrapper">
      <img src="./assets/img/mail.svg" alt="mail-icon" />
      <input type="email" />
    </div>
    <span>Diese E-Mail-Adresse ist leider ungültig.</span>
  </div>
  <p>Wir senden Ihnen eine E-Mail, über die Sie Ihr Passwort ändern können.</p>
  <div class="button-wrapper">
    <button>Weiter</button>
  </div>
</form>
