<section>
  <div class="header">
    <img src="./assets/img/logo.png" alt="logo" />
  </div>

  <form [formGroup]="sendMailForm" (ngSubmit)="sendMail()">
    <img
      class="arrow-back"
      src="./assets/img/arrow_back.svg"
      alt="arrow_back"
      [routerLink]="'/login'"
    />
    <h2>Passwort zurücksetzen</h2>
    <span>Bitte geben Sie Ihre E-Mail-Adresse ein.</span>
    <div class="input-with-error-wrapper">
      <div class="input-wrapper">
        <img src="./assets/img/mail.svg" alt="mail-icon" />
        <input type="email" formControlName="email" />
      </div>
      <span
        *ngIf="
          email.touched &&
          (email.hasError('required') || email.hasError('email'))
        "
        >Diese E-Mail-Adresse ist leider ungültig.</span
      >
    </div>
    <p>
      Wir senden Ihnen eine E-Mail, über die Sie Ihr Passwort ändern können.
    </p>
    <div class="button-wrapper">
      <button
        [disabled]="!sendMailForm.valid"
        [ngClass]="{ 'active-button': sendMailForm.valid }"
        type="submit"
      >
        E-Mail senden
      </button>
    </div>
  </form>
  <div class="legal-wrapper">
    <a class="link">Impressum</a>
    <a class="link">Datenschutz</a>
  </div>
</section>
