<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="card">
                    <div class="header text-center">
                        <h3 class="title">Account Setting</h3>
                    </div>
                    <div class="content table-responsive table-full-width table-upgrade">
                       <div class="row">
                           <div class="col-sm-6">
                               <h4 class="title text-center">Change Password</h4>
                               <div class="form-group">
                                   <label>New Password</label>
                                   <input type="text" class="form-control">
                               </div>
                               <div class="form-group">
                                <label>Confirm Password</label>
                                <input type="text" class="form-control">
                            </div>
                            <br>
                            <div class="form-group text-center">
                                <button class="btn btn-danger">Change Password</button>
                            </div>
                           </div>
                           <div class="col-sm-6">
                            <h4 class="title text-center">Profile Status</h4>
                            <div class="form-group">
                                <br>
                                <select class="form-control">
                                     <option>Active</option>
                                     <option>Deactive</option>
                                </select>
                            </div>
                            <br>
                            <div class="form-group text-center">
                                <button class="btn btn-warning">Change Status</button>
                            </div>
                           </div>
                       </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
