<section>
  <div>
    <img src="./assets/img/tobias_bayer_web_developer_logo.svg" alt="" />
  </div>
  <div class="right-wrapper">
    <div>
      <a
        [class.active]="translate.store.currentLang === 'de'"
        (click)="translate.use('de')"
        class="language-selector"
        >DE</a
      >
      |
      <a
        [class.active]="translate.store.currentLang === 'en'"
        (click)="translate.use('en')"
        class="language-selector"
        >EN</a
      >
    </div>
    <div class="nav-box">
      <a
        translate
        (click)="setActiveLink('#about-me')"
        [class.active]="activeLink === '#about-me'"
        href="#about-me"
        >About me</a
      >
      <a
        translate
        (click)="setActiveLink('#skills')"
        [class.active]="activeLink === '#skills'"
        href="#skills"
        >Skills</a
      >
      <a
        translate
        (click)="setActiveLink('#portfolio')"
        [class.active]="activeLink === '#portfolio'"
        href="#portfolio"
        >Portfolio</a
      >
    </div>
    <div (click)="toggleMenue()" class="burger-menue">
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
  <app-mobile-overlay
    [ngClass]="{ 'show-overlay': mobileOverlay }"
    class="mobile-overlay"
    (closeOverlayEvent)="closeOverlay()"
  ></app-mobile-overlay>
</section>
