section {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 37px 100px;
  background-color: var(--darkBlueBg);

  @media screen and (max-width: 1250px) {
    padding: 37px 50px;
  }

  @media screen and (max-width: 900px) {
    padding: 37px 12px;
  }

  img {
    height: 30px;

    @media screen and (max-width: 900px) {
      height: 20px;
    }
  }
}

.right-wrapper {
  display: flex;
  align-items: center;
  gap: 29px;

  .language-selector {
    text-decoration: none;
    cursor: pointer;

    &:hover {
      color: var(--green);
    }
  }
}

.nav-box {
  display: flex;
  gap: 29px;

  @media screen and (max-width: 900px) {
    display: none;
  }

  a {
    color: white;
    text-decoration: none;
    font-size: 23px;
    transition: color ease-in-out 125ms;

    &:hover {
      color: var(--green);
    }
  }
}

.burger-menue {
  display: none;
  height: 20px;
  width: 20px;

  flex-direction: column;
  justify-content: space-between;

  > div {
    border: 1px solid white;
    transition: all 225ms ease-in-out;
    transform-origin: left;
    width: 20px;
  }

  @media screen and (max-width: 900px) {
    display: flex;
  }
}

.burger-active {
  :nth-child(1) {
    transform: rotate(45deg);
    width: 25px;
  }

  :nth-child(2) {
    opacity: 0;
  }

  :nth-child(3) {
    transform: rotate(-45deg);
    width: 25px;
  }
}

.active {
  color: var(--green) !important;
  border-bottom: 2px solid var(--purple);
}

.mobile-overlay {
  position: absolute;
  left: 0;
  top: 101px;
  transform: translateX(100%);
  transition: all 225ms ease-in-out;

  display: none;

  @media screen and (max-width: 900px) {
    display: block;
  }
}

.show-overlay {
  transform: translateX(0);
}
