section {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 37px 100px;
  background-color: var(--darkBlueBg);

  img {
    height: 30px;
  }
}

.right-wrapper {
  display: flex;
  align-items: center;
  gap: 29px;

  .language-selector {
    text-decoration: none;
    cursor: pointer;

    &:hover {
      color: var(--green);
    }
  }
}

.nav-box {
  display: flex;
  gap: 29px;

  a {
    color: white;
    text-decoration: none;
    font-size: 23px;
    transition: color ease-in-out 125ms;

    &:hover {
      color: var(--green);
    }
  }
}

.active {
  color: var(--green) !important;
  border-bottom: 2px solid var(--purple);
}
