section {
  padding: 100px 100px;
  border-top: 2px solid var(--green);
  background-color: var(--darkBlueBg);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  position: relative;
  z-index: 999;

  @media screen and (max-width: 1250px) {
    padding: 100px 50px;
  }

  @media screen and (max-width: 900px) {
    padding: 50px 12px;
    flex-direction: column;
    justify-content: unset;
    gap: 36px;

    .mobile {
      display: block;
    }

    .desktop {
      display: none;
    }
  }

  .imprint-link {
    text-decoration: none;
    color: white;
    font-size: 16px;
    position: relative;

    &:hover::before {
      content: " ";
      position: absolute;
      bottom: -4px;
      left: 0;
      width: 25px;

      border-bottom: 2px solid var(--lightBlue);
    }
  }

  .left-wrapper {
    display: flex;
    flex-direction: column;

    img {
      width: 200px;

      @media screen and (max-width: 900px) {
        width: 300px;
      }
    }

    .copyright {
      font-size: 23px;
    }
  }
}
