<div class="dialogContent">
    <h2>Channel erstellen</h2>
    <span>Channels dienen deinem Team zur Kommunikation. Am besten sollten sie themenbezogen sein #marketing zum
        Beispiel.
    </span>
    <form (submit)="onSubmit()">
        <h3>Channel-Name</h3>
        <div class="nameInput">
            <input name="channelName" placeholder="Name" [(ngModel)]="channel.name" (ngModelChange)="checkIfNameExists()">
            <span class="warning" *ngIf="nameExists">Channel with this name exists</span>
        </div>
        <h3>Beschreibung</h3>
        <input name="channelDescription" placeholder="Beschreibung" [(ngModel)]="channel.description">
        <button type="submit" class="createButton">Erstellen</button>
    </form>
</div>