<div class="dialogContent">
    <h2>Channel erstellen</h2>
    <span>Channels dienen deinem Team zur Kommunikation. Am besten sollten sie themenbezogen sein #marketing zum
        Beispiel.
    </span>
    <h3>Channel-Name</h3>
    <div class="nameInput">
        <input [(ngModel)]="channel.name" (ngModelChange)="checkIfNameExists()">
        <span class="warning" *ngIf="nameExists">Channel with this name exists</span>
    </div>
    <h3>Beschreibung</h3>
    <input [(ngModel)]="channel.description">
    <button (click)="openPeopleToChannelDialog()" class="createButton">Erstellen</button>
</div>