section {
  background-color: var(--darkBlueBg);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 150px 100px 0px 100px;
  position: relative;

  @media screen and (max-width: 1250px) {
    padding: 150px 50px 0px 50px;
  }

  @media screen and (max-width: 900px) {
    padding: 150px 12px 0px 12px;
  }

  .shadow {
    position: absolute;
    rotate: -46deg;
    right: -500px;
    bottom: -100px;
    z-index: 1;
  }
}

.left-wrapper {
  display: flex;
  flex-direction: column;
  gap: 35px;
  color: white;
  max-width: 45vw;
  position: relative;
  z-index: 10;
  scale: 0;

  @media screen and (max-width: 900px) {
    max-width: 100%;
  }

  > div {
    display: flex;
    flex-direction: column;
    gap: 35px;

    > div {
      display: flex;
      align-items: center;
      gap: 35px;
    }
  }
}

.right-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 10;
  width: 30vw;
  scale: 0;

  @media screen and (max-width: 900px) {
    display: none;
  }

  .img-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid var(--green);
    border-radius: 50%;
    overflow: hidden;

    > img {
      width: 350px;
      aspect-ratio: 1;
      object-fit: cover;

      @media screen and (max-width: 1250px) {
        width: 100%;
      }
    }
  }

  .seperator-wrapper {
    display: flex;
    align-items: center;
    position: relative;

    .about-seperator {
      position: absolute;
      border: 2px solid var(--green);
      right: 0;
      transform-origin: right;
      rotate: 180deg;
      width: 50vw;
      z-index: 10;
    }
  }
}

.scrolledBy {
  animation: fadeIn 400ms ease-in-out;
  scale: 1;
}

@keyframes fadeIn {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}
