<section>
  <img
    class="purple-shadow-1"
    src="./assets/img/shadows/purple-shadow-1.svg"
    alt="purple-shadow-1"
  />
  <div class="left-wrapper">
    <h2>About me</h2>
    <div>
      <p>
        Hi, I am a Front-end deverloper based in München, Germany(....)Lorem
        ipsum dolor sit amet, consectetur adipiscing elit. Ut auctor sem non
        tempus convallis. Integer et justo vitae urna finibus eleifend sit amet
        porttitor sapien. Donec sollicitudin massa vel lorem vestibulum
        efficitur.
      </p>
      <div>
        <img src="./assets/img/icons/bulb-icon.svg" alt="bulb" />
        <p>
          Some personal thing to share(...) Donec ut imperdiet diam, et
          convallis neque. Class aptent taciti sociosqu ad litora torquent per
          conubia nostra, per inceptos himenaeos.
        </p>
      </div>
      <div>
        <img src="./assets/img/icons/puzzle-icon.svg" alt="puzzle" />
        <p>
          Some personal thing to share(...) Donec ut imperdiet diam, et
          convallis neque. Class aptent taciti sociosqu ad litora torquent per
          conubia nostra, per inceptos himenaeos.
        </p>
      </div>
    </div>
  </div>
  <div class="right-wrapper">
    <div class="img-wrapper">
      <img src="./assets/img/hero-character.png" alt="" />
    </div>
    <div class="about-seperator"></div>
  </div>
</section>
