section {
  background-color: var(--darkBlueBg);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 150px 100px;

  position: relative;

  .purple-shadow-1 {
    position: absolute;
    rotate: -46deg;
    right: -500px;
    bottom: -100px;
    z-index: 1;
    pointer-events: none;
  }
}

.left-wrapper {
  display: flex;
  flex-direction: column;
  gap: 35px;
  color: white;
  max-width: 40vw;

  > div {
    display: flex;
    flex-direction: column;
    gap: 35px;

    > div {
      display: flex;
      align-items: center;
      gap: 35px;
    }
  }
}

.right-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 40vw;

  .img-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid var(--green);
    border-radius: 50%;
    overflow: hidden;

    > img {
      width: 350px;
    }
  }

  .seperator-wrapper {
    display: flex;
    align-items: center;
    position: relative;

    .about-seperator {
      position: absolute;
      border: 2px solid var(--green);
      right: 0;
      transform-origin: right;
      rotate: 180deg;
      width: 50vw;
      z-index: 10;
    }
  }
}
