.example-card {
    max-width: 400px;
}

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

/* Styliser le sous-titre */
.custom-card-subtitle {
    font-size: 1rem;
    /* Taille de la police du sous-titre */
    color: #ced4da;
    /* Couleur du sous-titre */
}