@import "./../../../../mixin.scss";

form {
  margin-top: auto;
  border: 1px solid blue;
  border-radius: 15px;
  padding: 20px;
  background-color: white;
  margin-right: 45px;
  margin-left: 45px;
  position: relative;

  @media screen and (max-width: 1300px) {
    margin-right: 8px;
    margin-left: 8px;
  }
}

input {
  width: 100%;
  outline: none;
  border: none;
  height: 50px;
  font-size: 20px;
}

.messageIcon {
  margin-right: 5px;
}

.fileToAdd {
  display: flex;

  span {
    cursor: pointer;
  }

  p {
    margin-left: 5px;
    cursor: pointer;
  }
}

.sendIcon {
  position: absolute;
  bottom: 5%;
  right: 20px;
  background: white;
  cursor: pointer;
  border: none;
  padding: 0;
}

.choosePeopleInput {
  border-radius: 40px;
  border: 1px solid var(--ligth-purple-lines, #adb0d9);
  display: flex;
  padding: 10px 20px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
  outline: none;
  margin-top: 20px;
  width: 100%;
}

.inputContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  width: 90%;

  .channelsName {
    color: blue;
  }
}

.imgSize {
  max-height: 40px;
}

.messageIcons {
  @include dFlex($jc: flex-start);
}

.addFile {
  position: relative;
  @include dFlex($jc: flex-start);

  .messageIcon {
    height: 20px;
    margin-right: 8px;
    cursor: pointer;
  }

  .addFileInput {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    opacity: 0;
  }
}

.border {
  padding-right: 5px;
  border-right: 1px solid rgba(0, 0, 0, 0.5);
}

.emojiDiv {
  display: flex;
  position: relative;
}

.positionRelative {
  position: relative;
  display: flex;
}

.users {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 105px;
  width: max-content;
  background: white;
  padding: 20px;
  gap: 15px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  max-height: 300px;
  overflow-y: scroll;

  p {
    cursor: pointer;
  }
}

.userDiv {
  display: flex;
}

.userIcon {
  height: 26px;
  margin-right: 8px;
}

.templateLine {
  @include dFlex($jc: flex-start);
  gap: 10px;
}
