<form (ngSubmit)="createMessage()">
  <div>
    <div class="fileToAdd" *ngIf="this.linkContent">
      <span [innerHTML]="linkContent"></span>
      <p (click)="deleteFile()">x</p>
    </div>
    <input
      autofocus
      #inputFooter
      [formControl]="sendMessageForm"
      placeholder="Type your message"
      [mention]="fireService.allUsers"
      [mentionListTemplate]="mentionListTemplate"
      [mentionConfig]="{ triggerChar: '@', dropUp: true, labelKey: 'name' }"
    />
  </div>
  <div class="messageIcons">
    <div class="addFile" #contentContainer>
      <img class="messageIcon border" src="assets/img/add.svg" />
      <input
        class="addFileInput"
        (change)="onFileSelected($event, inputFooter)"
        #fileUpload
        type="file"
      />
    </div>
    <div class="positionRelative">
      <img
        class="messageIcon"
        (click)="addTaggedUser(inputFooter)"
        src="assets/img/alternate_email.svg"
      />
      <ng-template #mentionListTemplate let-item="item">
        <div class="templateLine">
          <img
            class="mr-3"
            src="{{ item.profileImg }}"
            alt=""
            width="30"
            height="30"
          />
          &nbsp;
          <span>{{ item.name }}</span>
        </div>
      </ng-template>
      <div *ngIf="mentionsOpen" class="users">
        <div class="userDiv" *ngFor="let user of fireService.allUsers">
          <img class="userIcon" src="{{ user.profileImg }}" />
          <p>{{ user.name }}</p>
        </div>
      </div>
    </div>
    <div class="emojiDiv">
      <img
        (click)="toggleEmoji()"
        class="messageIcon"
        src="assets/img/sentiment_satisfied.svg"
      />
      <emoji-mart
        *ngIf="emojiOpened"
        (emojiClick)="addEmoji($event, inputFooter)"
        (tooltip)="(false)"
        [style]="{ position: 'absolute', left: '0', bottom: '20px' }"
      >
      </emoji-mart>
    </div>
  </div>
  <button class="sendIcon" type="submit">
    <img #sendIcon src="assets/img/send_icon.png" />
  </button>
</form>
