<div class="wrapper">
  <app-header></app-header>
  <main>
    <form (ngSubmit)="requestPasswordResetEmail()">
      <h1>Forgot your Password?</h1>

      <p>
        No problem! we'll send you an email with instructions on how to reset
        your password.
      </p>

      <app-form-input-with-error
        [formControl]="email"
        [placeholder]="'E-Mail'"
        [type]="'email'"
        [errorSet]="'email'"
        [control]="email"
      ></app-form-input-with-error>

      <app-button-without-icon
        [content]="'Send E-Mail'"
        [type]="'subbmit'"
        [colorStyle]="'red'"
        [height]="'40px'"
        [width]="'100%'"
        [fontWeight]="700"
      ></app-button-without-icon>
    </form>
  </main>
</div>
