
<div style="padding-bottom: 76px;">
  <div>
    <div *ngIf="fireService.isDifferentDate(creationDate, index) || index===0">
      <div class="dateDiv" *ngIf="fireService.dateNameChecker(creationDay, creationDate)==='heute'">
      </div>
      <div class="dateContent">
        {{ fireService.dateNameChecker(creationDay, creationDate) }}
      </div>


      <div class="messagesSection" [ngClass]="{'odd-message':!getSide(index)}">
        <app-reactions [index]="index" [currentMessage]="currentMessage"></app-reactions>
  
      <div class="msg-wrapper" [ngClass]="{'odd-message':getSide(index)}">
          <img src="assets/img/{{profileImg}}">
  
            <div class="editMessageWrapper" *ngIf="reactionsComponent && reactionsComponent.editMessage">
              <div class="editMessageDiv">
                <input ngModel={{content}}>
                <div class="editButtons">
                  <button (click)=" closeEdit()" class="cancelButton">Abbrechen</button>
                  <button class="createButton">Speichern</button>
                </div>
              </div>
            </div>
          <div>
            <div class="msg-header">
            <span>{{ sender }}</span>
              <p>{{ creationTime }} Uhr</p>
          </div>

          <div class="msg-content">
            <span>{{ content }}</span>
          </div>

          <div *ngIf="thread && thread.length > 0" class="thread-wrapper">
            <span>{{ thread.length }} Antworten</span>
              <p>Letzte Antwort {{ getLastReplyTime() }}</p>
          </div>
  
            <div class="reactions" *ngIf="reactions?.length > 0">
              <div class="reaction" *ngFor="let emoji of reactions">
                <div>{{ emoji.native }}</div>
                <div *ngIf="emoji.counter">{{ emoji.counter }}</div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>