.messageUsersImg {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.messagesSection {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 20px 60px;
  cursor: pointer;
}
.mention {
  color: #444DF2;
}
.nameContentDiv {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
  flex-grow: 1;


  .nameOfSender {
    font-weight: bold;
  }

  .messageContent {
    margin-left: 10px;
    background-color: #eceefe;
    padding: 15px 10px 20px;
    margin-top: 10px;
    width: fit-content;
  }

  .borderForMessageIfYou {
    border-radius: 40px 0 40px 40px;
  }

  .borderForMessage {
    border-radius: 0 40px 40px 40px;
  }



  .tread-info {
    display: flex;
    grid-gap: 20px;
    align-items: center;
    justify-content: flex-end;
    margin-top: 8px;
    cursor: pointer;

    span {
      color: rgba(83, 90, 241, 1);
      font-size: 18px;
    }

    p {
      font-size: 14px;
      color: rgba(104, 104, 104, 1);
    }
  }
}

.messagesInfo {
  display: flex;
  width: 100%
}

.reactions {
  display: flex;
  align-items: center;
}

.odd-message .messagesSection {
  flex-direction: row-reverse;
}

.odd-message {
  flex-direction: row-reverse;
}

.justifyEnd {
  align-items: flex-end;
}

.reaction {
  display: flex;
  align-items: center;
  margin-left: 4px;
  margin-top: 4px;
  background: white;
  border-radius: 40px;
  padding: 2px 7px;
  border: 1px solid #cdcddc;
  position: relative;
  cursor: pointer;

  &:hover .reactionsPeople {
    display: block;
  }
}

.dateDiv {
  margin-bottom: -16px;
  width: 100%;
  height: 0.2px;
  background-color: #cacbd1;
}

.dateContent {
  background-color: white;
  border-radius: 30px;
  border: 1px solid #cacbd1;
  padding: 7px 10px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;

}

.messageDiv {
  display: flex;
  flex-direction: column;
}

.displayNone {
  display: none;
}

.emoji-mart {
  position: absolute;
}

.time {
  margin-left: 5px;
}

.editMessageWrapper {
  position: absolute;
  top: -15px;
  bottom: 0;
  border: 1px solid blue;
  border-radius: 15px;
  padding: 10px 5px;
  background-color: white;
  width: 100%;
  z-index: 9;

  input {
    width: 100%;
    outline: none;
    border: none;
  }
}

.createButton {
  color: rgb(255, 255, 255);
  border-radius: 20px;
  background-color: #444df2;
  padding: 5px 12px;
  border: none;
  text-align: center;
  width: fit-content;
  cursor: pointer;
}

.cancelButton {
  color: #444df2;
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  padding: 5px 12px;
  border: none;
  text-align: center;
  width: fit-content;
  cursor: pointer;
}

.editMessageDiv {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;

  input {
    flex-grow: 1;
  }
}

.editButtons {
  display: flex;
  width: 97%;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;

}

emoji-mart {
  z-index: 9999;

}

.reactionsPeople {
  display: none;
  position: absolute;
  bottom: 25px;
  /*   left: 30px; */
  padding: 20px;
  background-color: var(--Purple-1, #444DF2);

  color: white;
}


.forPeopleReactedLeft {
  left: 20px;
  border-radius: 20px 20px 20px 0px;
}

.forPeopleReactedRight {
  right: 20px;
  border-radius: 20px 20px 0px 20px;
}

.reactedSpan {
  font-size: 12px;
}

.reactionsPeopleSubDiv {
  width: max-content;
}

.max-width {
  max-width: 80px;
}

.mention {
  background-color: blue;
}

@media(max-width:650px) {
  .messageContent {
    background-color: #444DF2 !important;
    color: white;

  }

}