<div style="margin-top: 20px">
  <div>
    <div *ngIf="isDifferentDate(creationDate, index, type)">
      <div
        class="dateDiv"
        *ngIf="
          fireService.dateNameChecker(creationDay, creationDate) === 'heute'
        "
      ></div>
      <div class="dateContent">
        {{ fireService.dateNameChecker(creationDay, creationDate) }}
      </div>
    </div>

    <div class="messagesSection" [ngClass]="{ 'odd-message': getSide(sender) }">
      <div class="messagesInfo" [ngClass]="{ 'odd-message': getSide(sender) }">
        <img class="messageUsersImg" src="{{ profileImg }}" />
        <div class="nameContentDiv" [ngClass]="{ justifyEnd: getSide(sender) }">
          <div *ngIf="editMessage" class="editMessageWrapper">
            <div class="editMessageDiv">
              <input
                #inputEditMessage
                [(ngModel)]="content"
                (ngModelChange)="getNewContent($event)"
              />

              <div class="editButtons">
                <div class="emojiDiv">
                  <img
                    (click)="openEmojiOnEdit()"
                    class="messageIcon"
                    src="assets/img/sentiment_satisfied.svg"
                  />
                  <emoji-mart
                    *ngIf="emojiOpenedOnEdit"
                    (emojiClick)="addEmojiOnEdit($event, inputEditMessage)"
                    (tooltip)="(false)"
                    [style]="getEmojiPickerStyle()"
                  >
                  </emoji-mart>
                </div>
                <div>
                  <button (click)="closeEdit()" class="cancelButton">
                    Abbrechen
                  </button>
                  <button (click)="updateMessageContent()" class="createButton">
                    Speichern
                  </button>
                </div>
              </div>
            </div>
          </div>

          <div>
            <span class="nameOfSender">{{ sender }}</span>
            <span class="time">{{ creationTime }} Uhr</span>
          </div>
          <div class="messageContent">{{ content }}</div>
          <div
            *ngIf="thread && thread.length > 0 && type !== 'thread'"
            class="tread-info"
          >
            <span (click)="openThread()">{{ thread.length }} Antworten</span>
            <p>{{ getLastReplyTime() }}</p>
          </div>
          <div class="reactions" *ngIf="reactions?.length > 0">
            <div
              (click)="addEmoji(i, $event)"
              class="reaction"
              *ngFor="let emoji of reactions; let i = index"
            >
              <div>{{ emoji.native }}</div>
              <div *ngIf="emoji.counter">
                {{ emoji.counter }}
                <div
                  *ngIf="getReactionsPeople(emoji).length >= 3"
                  class="reactionsPeople"
                  [ngClass]="
                    !getSide(sender)
                      ? 'forPeopleReactedLeft'
                      : 'forPeopleReactedRight'
                  "
                >
                  <div class="reactionsPeopleSubDiv max-width">
                    <ng-container *ngIf="ifYouReacted(emoji); else otherUsers">
                      Du
                      <span class="reactedSpan"> und noch</span>
                      {{ getReactionsPeople(emoji).length - 1 }} Leute
                      <span class="reactedSpan"> haben reagiert</span>
                    </ng-container>
                    <ng-template #otherUsers>
                      {{ getReactionsPeople(emoji)[0] }}
                      und noch {{ getReactionsPeople(emoji).length - 1 }} Leute
                      <span class="reactedSpan">haben reagiert</span>
                    </ng-template>
                    <!--   </div> -->
                  </div>
                </div>

                <div
                  *ngIf="getReactionsPeople(emoji).length < 3"
                  class="reactionsPeople"
                  [ngClass]="
                    !getSide(sender)
                      ? 'forPeopleReactedLeft'
                      : 'forPeopleReactedRight'
                  "
                >
                  <div
                    class="reactionsPeopleSubDiv"
                    *ngFor="
                      let name of getReactionsPeople(emoji);
                      let i = index
                    "
                  >
                    {{ name }}
                    <span
                      class="reactedSpan"
                      *ngIf="getReactionsPeople(emoji).length > 1 && i === 0"
                    >
                      und</span
                    >
                    <span class="reactedSpan" *ngIf="name === 'Du'">
                      hast reagiert</span
                    >
                    <div *ngIf="getReactionsPeople(emoji).length < 3">
                      <span
                        class="reactedSpan"
                        *ngIf="
                          name !== 'Du' && !getReactionsPeople(emoji)[i + 1]
                        "
                      >
                        hat reagiert</span
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <app-reactions
        (openEditMessageDivEvent)="openEditMessageDiv($event)"
        [index]="index"
        [currentMessage]="currentMessage"
        [type]="type"
        [conversation]="conversation"
        [collectionId]="collectionId"
        [isYou]="isYou"
      ></app-reactions>
    </div>
  </div>
</div>
