<div class="input-wrapper">
  <input
    [type]="type"
    [placeholder]="placeholder"
    [value]="value"
    (input)="updateValue($event)"
    (blur)="onBlur()"
  />

  @if (control && control.touched && control.errors) { @if (errorSet
  ==='username' ) { @if(control.errors['required']){
  <div class="error-message">Please enter your Username</div>
  } @if(!control.errors['required'] && httpError ){
  <div class="error-message">Wrong Username or Password</div>
  } } @if (errorSet === 'password') { @if (control.errors['required']) {
  <div class="error-message">Error: required</div>
  } @if (!control.errors['required'] && control.errors['minLength']) {
  <div class="error-message">Error: minLength</div>
  } } } @if (errorSet === 'repeat' && control && control.touched &&
  parentControl && parentControl.errors) { @if (control.errors &&
  control.errors['required']) {
  <div class="error-message">Error: required</div>
  } @if(!control.errors && parentControl.errors['passwordMismatch']) {
  <div class="error-message">Error: passwordMismatch</div>
  }}
</div>
