<div class="wrapper">
  <app-header></app-header>
  <main>
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <h1>Login</h1>

      <app-form-input-with-error
        formControlName="username"
        [placeholder]="'Username'"
        [type]="'text'"
        [errorSet]="'username'"
        [httpError]="loginError"
        [control]="username"
      ></app-form-input-with-error>

      <app-form-input-with-error
        formControlName="password"
        [placeholder]="'Password'"
        [type]="'password'"
        [errorSet]="'password'"
        [httpError]="loginError"
        [control]="password"
      ></app-form-input-with-error>

      <app-button-without-icon
        [content]="'Login'"
        [type]="'submit'"
        [colorStyle]="'red'"
        [height]="'40px'"
        [width]="'100%'"
        [fontWeight]="700"
      ></app-button-without-icon>

      <span>OR</span>

      <app-button-without-icon
        (click)="guestLogin()"
        [content]="'Guest Login'"
        [type]="'button'"
        [colorStyle]="'gray'"
        [height]="'40px'"
        [width]="'100%'"
        [fontWeight]="700"
      ></app-button-without-icon>

      <label>
        <input formControlName="rememberMe" type="checkbox" />
        <span>Remember me</span>
      </label>

      <div>
        <span>New to Videoflix?</span>
        &nbsp;
        <a [routerLink]="'/sign-up'">Register now.</a>
      </div>
    </form>
  </main>
</div>
