<div class="wrapper">
  <app-header></app-header>
  <main>
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <h1>Login</h1>

      <app-form-input-with-error
        formControlName="username"
        [placeholder]="'Username'"
        [type]="'text'"
        [errorSet]="'username'"
      ></app-form-input-with-error>

      <app-form-input-with-error
        formControlName="password"
        [placeholder]="'Password'"
        [type]="'password'"
        [errorSet]="'password'"
      ></app-form-input-with-error>

      <app-button-without-icon
        [content]="'Login'"
        [type]="'submit'"
        [colorStyle]="'red'"
        [height]="'40px'"
        [width]="'100%'"
        [fontWeight]="700"
      ></app-button-without-icon>

      <app-button-without-icon
        (click)="guestLogin()"
        [content]="'Guest Login'"
        [type]="'button'"
        [colorStyle]="'gray'"
        [height]="'40px'"
        [width]="'100%'"
        [fontWeight]="700"
      ></app-button-without-icon>
    </form>
  </main>
</div>
