<form [formGroup]="registrationForm" (ngSubmit)="submitForm()">
  <img class="arrow-back" src="./assets/img/arrow_back.svg" alt="arrow_back" />
  <h2>Konto erstellen</h2>
  <p>
    Mit deinem Namen und deiner E-Mail-Adresse hast du dein neues
    DABubble-Konto.
  </p>
  <div class="input-with-error-wrapper">
    <div class="input-wrapper">
      <img src="./assets/img/account.svg" alt="account-icon" />
      <input
        type="text"
        placeholder="Name und Nachname"
        formControlName="name"
      />
    </div>
    <span *ngIf="name.touched && name.hasError('required')"
      >Bitte schreiben Sie einen Namen.</span
    >
  </div>
  <div class="input-with-error-wrapper">
    <div class="input-wrapper">
      <img src="./assets/img/mail.svg" alt="mail-icon" />
      <input
        type="email"
        placeholder="beispielname@email.com"
        formControlName="email"
      />
    </div>
    <span
      *ngIf="
        email.touched && (email.hasError('required') || email.hasError('email'))
      "
      >Diese E-Mail-Adresse ist leider ungültig.</span
    >
  </div>
  <div class="input-with-error-wrapper">
    <div class="input-wrapper">
      <img src="./assets/img/lock.svg" alt="lock-icon" />
      <input
        type="password"
        placeholder="Passwort"
        formControlName="password"
      />
    </div>
    <span
      *ngIf="
        password.touched &&
        (password.hasError('required') || password.hasError('password'))
      "
      >Bitte geben Sie ein Passwort ein.</span
    >
  </div>
  <div class="privacy-wrapper">
    <img
      (mouseenter)="this.privacyHover = true"
      (mouseleave)="this.privacyHover = false"
      [src]="getImageSource()"
      alt="checkbox"
      (click)="togglePrivacy()"
    />
    <p>Ich stimme der <span>Datenschutzerklärung</span> zu.</p>
  </div>
  <div class="button-wrapper">
    <button type="submit">Weiter</button>
  </div>
</form>
