<section>
  <h2>Konto erstellen</h2>
  <p>
    Mit deinem Namen und deiner E-Mail-Adresse hast du dein neues
    DABubble-Konto.
  </p>

  <div class="input-wrapper">
    <img src="./assets/img/account.svg" alt="mail-icon" />
    <input type="text" />
  </div>
  <div class="input-wrapper">
    <img src="./assets/img/mail.svg" alt="mail-icon" />
    <input type="email" />
  </div>
  <div class="input-wrapper">
    <img src="./assets/img/lock.svg" alt="lock-icon" />
    <input type="password" />
  </div>
  <div class="privacy-wrapper">
    <img src="./assets/img/checkbox.svg" alt="checkbox" />
    <p>Ich stimme der <span>Datenschutzerklärung</span> zu.</p>
  </div>
  <button>Weiter</button>
</section>
