.reactionDiv {
    border: 1px solid var(--ligth-purple-lines, #ADB0D9);
    padding: 5px 10px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    width: fit-content;
    justify-content: flex-end;

    img {
        height: 20px;
        margin-right: 8px;
        cursor: pointer;
    }

}

emoji-mart {
    position: absolute;
    z-index: 9999;
}

.ifRightSide {
    position: absolute;
    right: 0px
}

.editMessage {
    border: 1px solid var(--ligth-purple-lines, #ADB0D9);
    padding: 5px 10px;
    border-radius: 40px 40px 40px 0;
}