section {
  min-height: calc(100vh - 108px /*header height*/);
  margin-top: 108px !important;
  background-color: var(--darkBlueBg);
  padding: 100px 100px 0 100px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media screen and (max-width: 1250px) {
    padding: 100px 50px 0 50px;
  }

  @media screen and (max-width: 900px) {
    padding: 50px 12px 0 12px;
    min-height: calc(100vh - 100px /*header height*/);
    margin-top: 100px !important;
  }
}

.introduction {
  display: flex;
  align-items: center;
  color: white;
  justify-content: space-between;

  @media screen and (max-width: 900px) {
    flex-direction: column;
    gap: 32px;
  }

  .intro-rotate {
    writing-mode: vertical-lr;
    rotate: 180deg;

    > span {
      font-size: 52px;
      line-height: 58px;
      padding-top: 5px;

      @media screen and (max-width: 1250px) {
        font-size: 44px;
        line-height: 50px;
        padding-top: 0;
        letter-spacing: 2px;
      }

      @media screen and (max-width: 600px) {
        font-size: 23px;
        line-height: 30px;
        padding-top: 5px;
        letter-spacing: 2px;
      }
    }
  }

  .intro-rotate-DE {
    > span {
      font-size: 35px;
      line-height: normal;
      line-height: 40px;

      @media screen and (max-width: 1250px) {
        font-size: 28px;
        line-height: normal;
        padding-top: 5px;
        letter-spacing: 1.7px;
        margin-top: -5px !important;
      }

      @media screen and (max-width: 600px) {
        font-size: 16px;
        line-height: 16px;
        padding-top: 5px;
        letter-spacing: normal;
        margin-top: -5px !important;
      }
    }
  }

  .hero-wrapper {
    position: relative;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 75px;

    @media screen and (max-width: 900px) {
      gap: 36px;
    }

    > div {
      display: flex;
      align-items: center;
    }

    a {
      text-decoration: none;
      font-size: 23px;
      color: white;
      border-radius: 10px;
      background-color: var(--green);
      padding: 15px 30px;
      width: fit-content;
      cursor: pointer;
      box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
      transition: all ease-in-out 300ms;
      transform-origin: top center;

      &:hover {
        background-color: var(--purple);
        scale: 1.2;
      }
    }

    .intro-text-wrapper {
      span {
        font-size: 43px;
        text-transform: uppercase;
        letter-spacing: 2.5px;
        color: var(--purple);

        @media screen and (max-width: 1250px) {
          font-size: 36px;
          letter-spacing: normal;
        }

        @media screen and (max-width: 600px) {
          font-size: 20px;
          letter-spacing: normal;
        }
      }
    }

    .intro-text-wrapper-DE {
      > span {
        letter-spacing: 1px;
      }
    }
  }

  .hero-img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    .shadow-hero-img {
      position: absolute;
      width: 160%;

      @media screen and (max-width: 900px) {
        width: 80%;
      }
    }

    .hero-img {
      width: 450px;
      z-index: 1;

      @media screen and (max-width: 1250px) {
        width: 320px;
      }

      @media screen and (max-width: 900px) {
        width: 50%;
      }
    }
  }
}

.socials {
  position: relative;
  display: flex;
  align-items: center;
  gap: 42px;
  z-index: 100;
  padding-left: 42px;
  padding-bottom: 32px;

  @media screen and (max-width: 900px) {
    justify-content: center;
    padding-left: 0;
    padding-top: 32px;
  }

  .socials-seperator {
    position: absolute;
    left: -100px;
    width: 100px;
    border: 2px solid var(--purple);
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;

    @media screen and (max-width: 900px) {
      left: -50px;
    }
  }

  .socials-mail {
    text-decoration: none;
    font-size: 23px;
    color: white;

    @media screen and (max-width: 600px) {
      display: none;
    }
  }
}

.scroll-down-wrapper {
  position: absolute;
  right: 100px;
  bottom: 32px;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  color: white;

  span {
    writing-mode: vertical-rl;
    font-size: 23px;
  }

  @media screen and (max-width: 1250px) {
    right: 50px;
  }

  @media screen and (max-width: 900px) {
    display: none;
  }
}

.vector {
  position: absolute;
  top: 37%;
  left: 0;
  width: 100%;
  height: 700px;

  z-index: 1;

  @media screen and (max-width: 1250px) {
    top: 20%;
  }

  @media screen and (max-width: 900px) {
    display: none;
  }
}
