<section>
  <div class="introduction">
    <div class="hero-img-wrapper">
      <img class="hero-img" src="./assets/img/hero-character.png" alt="" />
      <img
        class="shadow-hero-img no-pointer-events"
        src="./assets/img/shadows/hero-img-shadows.svg"
        alt="shadow-img"
      />
    </div>

    <div class="hero-wrapper">
      <div>
        <div class="intro-rotate">
          <span>I am</span>
        </div>
        <div class="intro-text-wrapper">
          <h2>Tobias Bayer</h2>
          <span>Frontend developer</span>
        </div>
      </div>
      <a href="#contact">Let&rsquo;s talk!</a>
    </div>
  </div>

  <div class="socials">
    <div class="socials-seperator"></div>
    <app-socials></app-socials>
    <a class="socials-mail" href="#contact">tbayer2@gmx.de</a>
  </div>

  <div class="scroll-down-wrapper">
    <span>Scroll down</span>
    <img src="./assets/img/icons/arrow-down-icon.png" alt="" />
  </div>

  <img class="vector no-pointer-events" src="./assets/img/Vector.png" alt="" />
</section>
