<section class="header-margin">
  <div class="introduction">
    <div class="hero-img-wrapper">
      <img class="hero-img" src="./assets/img/hero-character.png" alt="" />
      <img
        class="shadow-hero-img no-pointer-events"
        src="./assets/img/shadows/hero-img-shadows.svg"
        alt="shadow-img"
      />
    </div>

    <div class="hero-wrapper">
      <div>
        <div
          [class.intro-rotate-DE]="translate.store.currentLang === 'de'"
          class="intro-rotate"
        >
          <span translate>I am</span>
        </div>
        <div
          [class.intro-text-wrapper-DE]="translate.store.currentLang === 'de'"
          class="intro-text-wrapper"
        >
          <h1>Tobias Bayer</h1>
          <span translate>Frontend developer</span>
        </div>
      </div>
      <a translate href="#contact">Let&rsquo;s talk!</a>
    </div>
  </div>

  <div class="socials">
    <div class="socials-seperator"></div>
    <app-socials></app-socials>
    <a class="socials-mail" href="#contact">contact&#64;tobias-bayer.dev</a>
  </div>

  <div class="scroll-down-wrapper">
    <span translate>Scroll down</span>
    <img src="./assets/img/icons/arrow-down-icon.png" alt="" />
  </div>

  <img class="vector no-pointer-events" src="./assets/img/Vector.png" alt="" />
  <img
    class="vector-mobile no-pointer-events"
    src="./assets/img/Vector.png"
    alt=""
  />
</section>
