<section id="contact">
  <img
    class="shadow"
    src="./assets/img/shadows/purple-shadow-contact.svg"
    alt="shadow-contact"
  />
  <div class="headline">
    <h2>Contact</h2>
    <div class="contact-seperator"></div>
  </div>
  <div class="bottom-wrapper">
    <div class="left-wrapper">
      <h3>Got a problem to solve?</h3>
      <p>
        Contact me through this form, I am interested in hearing you, knowing
        your ideas and contributing to your projects with my work.
      </p>
      <p>Need a Frontend developer? <b>Contact me!</b></p>
    </div>
    <div class="right-wrapper">
      <form ngNativeValidate (submit)="sendMail()" #contactForm="ngForm">
        <input
          placeholder="Your name"
          required
          [disabled]="sending"
          type="text"
          name="name"
          ngModel
        />

        <input
          placeholder="Your email"
          required
          [disabled]="sending"
          type="email"
          name="email"
          ngModel
        />

        <textarea
          placeholder="Your  message"
          required
          [disabled]="sending"
          name="message"
          ngModel
          cols="30"
          rows="10"
        ></textarea>

        <div class="privacy-and-butto-wrapper">
          <div>
            <input required type="checkbox" />
            <p>
              I've read the <a href="#">privacy policy</a> and agree to the
              processing of my data as outlined.
            </p>
          </div>

          <button type="submit" [disabled]="sending">Send message!</button>
        </div>
      </form>
    </div>
  </div>
  <div class="scroll-up-button-wrapper">
    <a href="#">
      <svg
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M11 7.828L6.34302 12.485C5.95255 12.8755 5.31948 12.8755 4.92902 12.485C4.53855 12.0945 4.53855 11.4615 4.92902 11.071L11.2929 4.70711C11.6834 4.31658 12.3166 4.31658 12.7071 4.70711L19.071 11.071C19.4615 11.4615 19.4615 12.0945 19.071 12.485C18.6806 12.8755 18.0475 12.8755 17.657 12.485L13 7.828L13 19C13 19.5523 12.5523 20 12 20C11.4477 20 11 19.5523 11 19L11 7.828Z"
        />
      </svg>
    </a>
  </div>
</section>
