<section id="contact">
  <img
    class="shadow no-pointer-events"
    src="./assets/img/shadows/purple-shadow-contact.svg"
    alt="shadow-contact"
  />
  <div class="headline">
    <h2 translate>Contact</h2>
    <div class="contact-seperator"></div>
  </div>
  <div class="bottom-wrapper">
    <div class="left-wrapper">
      <h3 translate>Got a problem to solve?</h3>
      <p translate>
        Contact me through this form, I am interested in hearing you, knowing
        your ideas and contributing to your projects with my work.
      </p>
      <p translate>Need a Frontend developer? <b translate>Contact me!</b></p>
    </div>

    <div class="right-wrapper">
      <form ngNativeValidate (submit)="sendMail()" #contactForm="ngForm">
        <div
          class="input-wrapper max-height-input"
          [ngClass]="{ 'max-height': name.length <= 0 && nameFormInteraction }"
        >
          <img
            *ngIf="name.length >= 3 && nameFormInteraction"
            src="./assets/img/checkmark.svg"
            alt="checkmark.svg"
          />
          <img
            *ngIf="name.length <= 2 && nameFormInteraction"
            src="./assets/img/warning.svg"
            alt="warning.svg"
          />
          <input
            placeholder="Your name"
            required
            [disabled]="sending"
            type="text"
            name="name"
            [(ngModel)]="name"
            (ngModelChange)="formInteraction('name')"
          />
          <span translate *ngIf="name.length <= 0 && nameFormInteraction"
            >Your name is required</span
          >
        </div>

        <div
          class="input-wrapper max-height-input"
          [ngClass]="{
            'max-height': emailFormInteraction && email.length <= 0
          }"
        >
          <img
            *ngIf="email.length >= 1 && emailFormInteraction && emailIsValid"
            src="./assets/img/checkmark.svg"
            alt="checkmark.svg"
          />
          <img
            *ngIf="emailFormInteraction && !emailIsValid"
            src="./assets/img/warning.svg"
            alt="warning.svg"
          />
          <input
            placeholder="Your email"
            required
            [disabled]="sending"
            type="email"
            name="email"
            [(ngModel)]="email"
            (ngModelChange)="formInteraction('email')"
          />
          <span translate *ngIf="emailFormInteraction && email.length <= 0"
            >Your email is required</span
          >
        </div>

        <div
          class="input-wrapper max-height-textarea"
          [ngClass]="{
            'max-height': message.length <= 0 && messageFormInteraction
          }"
        >
          <img
            *ngIf="message.length >= 1 && messageFormInteraction"
            src="./assets/img/checkmark.svg"
            alt="checkmark.svg"
          />
          <img
            *ngIf="message.length <= 0 && messageFormInteraction"
            src="./assets/img/warning.svg"
            alt="warning.svg"
          />
          <textarea
            placeholder="Your  message"
            required
            [disabled]="sending"
            name="message"
            [(ngModel)]="message"
            (ngModelChange)="formInteraction('message')"
            cols="30"
            rows="10"
          ></textarea>
          <span translate *ngIf="message.length <= 0 && messageFormInteraction"
            >Your message is required</span
          >
        </div>

        <div class="privacy-and-butto-wrapper">
          <div class="privacy-wrapper">
            <div>
              <img
                class="checkbox"
                (mouseenter)="privacyHover = true"
                (mouseleave)="privacyHover = false"
                (click)="togglePrivacy()"
                [src]="
                  privacyAccepted && privacyHover
                    ? './assets/img/icons/checkbox-checked-hover.svg'
                    : privacyAccepted && !privacyHover
                    ? './assets/img/icons/checkbox-checked.svg'
                    : !privacyAccepted && privacyHover
                    ? './assets/img/icons/checkbox-hover.svg'
                    : './assets/img/icons/checkbox.svg'
                "
                alt="checkbox.svg"
              />
              <p translate>
                I've read the
                <a translate target="_blank" href="./privacy-policy"
                  >privacy policy</a
                >
                and agree to the processing of my data as outlined.
              </p>
            </div>
            <span translate *ngIf="nameEntered"
              >Please accept the privacy policy.</span
            >
          </div>
          <button
            type="submit"
            [disabled]="
              sending || !privacyAccepted || !formReadyToSend || mailSend
            "
            [ngClass]="{
              'button-disabled':
                sending || !privacyAccepted || !formReadyToSend,
              'no-pointer-events': mailSend
            }"
          >
            {{ mailSend ? "Thank you!" : "Send message!" }}
          </button>
        </div>
      </form>
    </div>
  </div>
  <div class="scroll-up-button-wrapper">
    <a href="#">
      <svg
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M11 7.828L6.34302 12.485C5.95255 12.8755 5.31948 12.8755 4.92902 12.485C4.53855 12.0945 4.53855 11.4615 4.92902 11.071L11.2929 4.70711C11.6834 4.31658 12.3166 4.31658 12.7071 4.70711L19.071 11.071C19.4615 11.4615 19.4615 12.0945 19.071 12.485C18.6806 12.8755 18.0475 12.8755 17.657 12.485L13 7.828L13 19C13 19.5523 12.5523 20 12 20C11.4477 20 11 19.5523 11 19L11 7.828Z"
        />
      </svg>
    </a>
  </div>
</section>
