<section>
  <div class="headline">
    <h2>Contact</h2>
    <div class="contact-seperator"></div>
  </div>
  <div class="bottom-wrapper">
    <div class="left-wrapper">
      <h3>Got a problem to solve?</h3>
      <p>
        Contact me through this form, I am interested in hearing you, knowing
        your ideas and contributing to your projects with my work.
      </p>
      <p>Need a Frontend developer? <b>Contact me!</b></p>
    </div>
    <div class="right-wrapper">
      <form action="" method="post">
        <input type="text" />
        <input type="email" />
        <textarea name="" id="" cols="30" rows="10"></textarea>
        <div>
          <input type="checkbox" />
          <p>
            I've read the <a href="#">privacy policy</a> and agree to the
            processing of my data as outlined.
          </p>
        </div>
        <button>Send message!</button>
      </form>
    </div>
  </div>
  <div>
    <button>img</button>
  </div>
</section>
