.homeContainer {
  width: 98vw;
  height: 100%;
  display: flex;
  gap: 16px;
}

.sideMenuButton {
  display: flex;
  align-items: center;
  position: fixed;
  left: -110px;
  bottom: 30%;
  transform: rotate(270deg);
  border-radius: 0px 0px 30px 30px;
  background: var(--White, #fff);
  box-shadow: 4px 4px 7px 0px rgba(0, 0, 0, 0.2);
  padding: 12px;
  cursor: pointer;
  z-index: 999;

  &:hover .showMenuIcon,
  &:hover span {
    filter: brightness(0) saturate(100%) invert(29%) sepia(14%) saturate(2736%)
      hue-rotate(164deg) brightness(104%) contrast(98%);
  }
}

.showMenuIcon {
  transform: rotate(90deg);
  height: 30px;
  margin-left: 8px;
}

.hideMenu {
  animation: hideMenu 0.2s ease-in-out forwards;
}

.showMenu {
  transform: translateX(0);
  transition: all 0.6s ease-in-out;
  width: min-content;

}

.message {
  position: absolute;
  right: 30%;
  top: 30%;
  display: flex;
  flex-direction: column;
}

.chatContainer {
  background: var(--White, #fff);
  flex-grow: 1;
  border-radius: 30px;
  padding: 0 35px;
  box-sizing: content-box;
}

app-pm-chat {
  display: flex;
  flex: 1;
}

/* .fullWidth {
    animation: expandChannelContainer 4s ease-in-out !important;
}
 */

@keyframes hideMenu {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
    display: none;
  }
}

/* @keyframes expandChannelContainer {
    0% {
        width: 0;
    }

    20% {
        width: 60%;
    }

    40% {
        width: 70%;
    }

    60% {
        width: 80%;
    }

    80% {
        width: 90%;
    }

    100% {
        width: 100%
    }
} */
