<section id="portfolio">
  <img
    class="shadow no-pointer-events"
    src="./assets/img/shadows/purple-shadow-portfolio.svg"
    alt="shadow-portfolio-contact"
  />
  <div class="portfolio-head">
    <div class="headline">
      <div class="seperator left"></div>
      <h2>Portfolio</h2>
      <div class="seperator right"></div>
    </div>
    <span translate
      >This page is a sample of my work - please feel free to try them
      out.</span
    >
  </div>
  <div class="projects-wrapper">
    <ng-container *ngFor="let headline of headlines; let i = index">
      <app-project
        [headline]="'Join'"
        [technologies]="technologies[i]"
        [description]="descriptions[i]"
        [img]="images[i]"
        [githubLink]="githubLinks[i]"
        [projectLink]="projectLinks[i]"
        [index]="i"
      ></app-project>
    </ng-container>
  </div>
</section>
