header {
  margin-bottom: 20px;
}

main {
  background-color: var(--main-bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
   min-height: calc(100svh - 100px); 
  width: 100%;
}

