<section>
  <h2>Anmeldung</h2>
  <p>
    Wir empfehlen dir, die E-Mail-Adresse zu nutzen, die du bei der Arbeit
    verwendest.
  </p>
  <div class="input-wrapper">
    <img src="./assets/img/mail.svg" alt="mail-icon" />
    <input type="email" placeholder="beispielname@email.com" />
  </div>
  <div class="input-wrapper">
    <img src="./assets/img/lock.svg" alt="lock-icon" />
    <input type="password" placeholder="Passwort" />
  </div>
  <a href="/password-reset">Passwort vergessen?</a>
  <div class="seperator-wrapper">
    <div></div>
    <span class="seperator">Oder</span>
    <div></div>
  </div>
  <button class="button-with-icon">
    <img src="./assets/img/google.svg" alt="google-logo" />Anmelden mit Google
  </button>
  <div class="login-button-wrapper">
    <button class="login-button">Anmelden</button>
    <button class="guest-login-button">Gäste-Login</button>
  </div>
</section>
