section {
  display: flex;
  justify-content: space-between;
  gap: 36px;
  background-color: var(--darkBlueBg);
  padding: 150px 100px;
  color: white;
  position: relative;

  @media screen and (max-width: 1250px) {
    padding: 100px 50px;
  }

  .shadow {
    position: absolute;
    rotate: -90deg;
    top: 0;
    left: -490px;
    z-index: 1;
  }
}

.right-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 34px;
  position: relative;
  max-width: 40vw;

  > div {
    display: flex;
    align-items: center;
    .my-skills-seperator {
      position: absolute;
      border: 2px solid var(--purple);
      border-top-left-radius: 2px;
      border-bottom-left-radius: 2px;
      width: 100px;
      right: -100px;
    }
  }

  a {
    text-decoration: none;
    font-size: 23px;
    color: white;
    border: unset;
    border-radius: 10px;
    background-color: var(--green);
    padding: 15px 30px;
    width: fit-content;
    cursor: pointer;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    transition: all ease-in-out 300ms;
    transform-origin: top center;

    &:hover {
      background-color: var(--purple);
      scale: 1.2;
    }
  }
}

.left-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 34px;
  position: relative;
  z-index: 100;

  .skill {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;

    width: 88px;
    height: 100px;

    > img {
      height: 60px;

      &:hover {
        animation: jumpingSkill ease-in-out 225ms;
      }
    }
  }
}

@keyframes jumpingSkill {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-15px);
  }

  100% {
    transform: translateY(0px);
  }
}
