section {
  display: flex;
  justify-content: space-between;
  gap: 36px;
  background-color: var(--darkBlueBg);
  padding: 150px 100px;
  color: white;
  position: relative;

  @media screen and (max-width: 1250px) {
    padding: 100px 50px;
  }

  @media screen and (max-width: 900px) {
    padding: 50px 12px;
    flex-direction: column-reverse;
  }

  .shadow {
    position: absolute;
    rotate: -90deg;
    top: 0;
    left: -490px;
    z-index: 1;
  }
}

.right-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 34px;
  position: relative;
  max-width: 40vw;

  @media screen and (max-width: 900px) {
    justify-content: flex-end;
    max-width: 100%;
  }

  > div {
    display: flex;
    align-items: center;

    .my-skills-seperator {
      position: absolute;
      border: 2px solid var(--purple);
      border-top-left-radius: 2px;
      border-bottom-left-radius: 2px;
      width: 100px;
      right: -100px;

      @media screen and (max-width: 900px) {
        right: -105px;
      }
    }
  }

  p {
    text-align: end;
  }
}

.left-wrapper {
  position: relative;
  z-index: 100;
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 900px) {
    align-items: center;
    gap: 50px;
  }

  > div {
    display: flex;
    flex-wrap: wrap;
    gap: 34px;

    @media screen and (max-width: 900px) {
      justify-content: center;
    }
  }

  .skill {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;

    width: 88px;
    height: 100px;

    > img {
      height: 60px;

      &:hover {
        animation: jumpingSkill ease-in-out 225ms;
      }
    }
  }
}

.contact-button {
  text-decoration: none;
  font-size: 23px;
  color: white;
  border: unset;
  border-radius: 10px;
  background-color: var(--green);
  padding: 15px 30px;
  width: fit-content;
  cursor: pointer;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  transition: all ease-in-out 300ms;
  transform-origin: top center;

  &:hover {
    background-color: var(--purple);
    scale: 1.2;
  }
}

.hide-mobile {
  display: block;
}

.hide-desktop {
  display: none;
}

@media screen and (max-width: 900px) {
  .hide-mobile {
    display: none;
  }

  .hide-desktop {
    display: block;
  }
}

@keyframes jumpingSkill {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-15px);
  }

  100% {
    transform: translateY(0px);
  }
}
