<section id="skills">
  <img
    class="shadow no-pointer-events"
    src="./assets/img/shadows/green-shadow-1.svg"
    alt="green-shadow-1.svg"
  />
  <div class="left-wrapper">
    <div>
      <div *ngFor="let icon of icons; let i = index" class="skill">
        <img src="../../assets/img/icons/{{ icon }}.svg" alt="" />
        <p>{{ descriptions[i] }}</p>
      </div>
    </div>
    <a class="contact-button hide-desktop" translate href="#contact"
      >Get in touch</a
    >
  </div>
  <div class="right-wrapper">
    <div>
      <h2 translate>My skills</h2>
      <div class="my-skills-seperator"></div>
    </div>
    <p translate>
      I have gained experience in building projects with various front end
      technologies and concepts.
    </p>
    <a class="contact-button hide-mobile" translate href="#contact"
      >Get in touch</a
    >
  </div>
</section>
