<app-header [navMenue]="false" class="header"></app-header>
<section class="header-margin">
  <h1 translate>Imprint</h1>
  <h2 translate>Information according to § 5 TMG</h2>
  <p>
    Tobias Bayer<br />
    Warthestraße, 10<br />
    90571 Schwaig
  </p>
  <h2 translate>Contact</h2>
  <p translate>
    Phone: 0172 8494147<br />
    E-Mail: tbayer2&#64;gmx.de
  </p>
  <p translate>
    Source:
    <a target="_blank" href="https://www.e-recht24.de"
      >https://www.e-recht24.de</a
    >
  </p>
</section>
