section {
  padding: 100px;
  background-color: var(--darkBlueBg);
  color: white;
  min-height: calc(100vh - 258px - 110px);

  @media screen and (max-width: 1250px) {
    padding: 50px;
  }

  @media screen and (max-width: 900px) {
    padding: 50px 12px 50px 12px;
    min-height: calc(100vh - 100px /*header height*/);
    margin-top: 100px !important;
  }

  h1 {
    font-size: 36px;
  }

  h2 {
    color: var(--green);
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 28px;
  }

  h3 {
    color: var(--purple);
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 24px;
  }

  a {
    text-decoration: underline;
    color: white;
    font-weight: 700;
  }
}
