<div class="profileContainer">
    <div #profileContent class="profileContent">
        <div class="profileFlex">
            <span class="menuSpan">Dein Profil bearbeiten</span>
            <img routerLink="/profile" class="closeIcon" src="assets/img/close.png">
        </div>
        <img class="profilePic" src="assets/img/profile_man1.png">

        <div class="emailContainer">
            <div class="emailDiv">
                <img src="assets/img/account_icon.png">
                <span class="adresseSpan">Vollständiger Name</span>
            </div>
            <input class="editInput">
        </div>

        <div class="emailContainer">
            <div class="emailDiv">
                <img src="assets/img/mail_icon.png">
                <span class="adresseSpan">E-Mail-Adresse</span>
            </div>
            <input class="editInput">
        </div>

        <div class="buttons">
            <button class="cancel">Abbrechen</button>
            <button class="save">Speichern</button>
        </div>
    </div>
</div>