<section>
  <div class="thread-header">
    <div>
      <h3>Thread</h3>
      <span># {{ parentMessage.sender }}</span>
    </div>
    <img
      (click)="this.homeNav.toggleThread()"
      src="./assets/img/close.png"
      alt="close-icon"
    />
  </div>
  <div class="chat-area">
  
   <app-message
      [sender]="parentMessage.sender"
      [profileImg]="parentMessage.profileImg"
      [content]="parentMessage.content"
      [currentMessage]="parentMessage"
    
    ></app-message>
    <div class="seperator-wrapper">
      <span>{{ parentMessage.thread.length ?? 0 }} Antworten</span>
      <div></div>
    </div>
    <app-message
      *ngFor="let message of parentMessage.thread let i=index"
      [sender]="message.sender"
      [profileImg]="message.profileImg"
      [content]="message.content"
      [creationDate]="message.creationDate"
      [creationTime]="message.creationTime"
      [creationDay]="message.creationDay"
      [id]="message.id"
      [index]="i"
      [currentMessage]="message.currentMessage"
      [thread]="parentMessage.thread"
      [type]="'thread'"
  
    ></app-message>
  
  </div>
  <div class="input-area">
    <form [formGroup]="sendMessageForm" (ngSubmit)="sendForm()">
      <textarea formControlName="message" cols="30" rows="10"></textarea>
      <button type="submit">Send</button>
    </form>
  </div>
</section>
