@import "./../../../../mixin.scss";

.wrapper {
  min-height: 100vh;
  min-height: 100svh;
  width: 100vw;
  width: 100svw;
  display: flex;
  flex-direction: column;
  background-color: rgba(25, 25, 25, 1);
  background-image: url("./../../../../assets/img/mockup-001.webp");
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  @include dflex();
  flex: 1;
}

.success-wrapper {
  @include flexCol($gp: 16px);
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.5);
  max-width: 400px;

  h1 {
    color: white;
  }

  p {
    color: rgba(255, 255, 255, 0.7);
  }

  span {
    color: white;
    font-weight: 700;
  }

  a {
    text-decoration: none;
    color: rgb(229, 9, 20);
    font-weight: 700;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}
