<div class="wrapper">
  <app-header></app-header>

  @if (homeRoute) {
  <main>
    @for (genre of genre; track $index) {
    <div class="row-wrapper">
      <h2>{{ genre }}</h2>
      <div class="video-row">
        @for (video of dataManager.publicVideos[genre.toLowerCase()]; track
        $index) {
        <app-video-card
          (click)="openVideoPlayer(video)"
          [video]="video"
        ></app-video-card>
        }
      </div>
    </div>
    }
  </main>
  } @else if (privateRoute) {
  <main>
    <div class="video-row">
      @for (video of dataManager.privateVideos; track $index) {
      <app-video-card
        (click)="openVideoPlayer(video)"
        [video]="video"
      ></app-video-card>
      <div>
        <img src="{{ video.thumbnail_file }}" alt="img" />
      </div>

      }
    </div>
  </main>
  }@else {
  <main>
    <div style="color: red">Param Error</div>
  </main>
  } @if(menueService.uploadOverlayOpen){
  <app-video-upload-overlay></app-video-upload-overlay>
  }@if (menueService.userOverlayOpen) {
  <app-user-overlay></app-user-overlay>
  } @if (videoPlayerOpen && selectedVideo) {
  <app-video-player-overlay
    [video]="selectedVideo"
    (close)="closeVideoPlayer()"
  ></app-video-player-overlay>
  }
</div>
