@import "./../../../../mixin.scss";

.wrapper {
  min-height: 100vh;
  min-height: 100svh;
  width: 100vw;
  width: 100svw;
  display: flex;
  flex-direction: column;
  background-color: rgba(25, 25, 25, 1);
}

main {
  @include flexCol($ai: flex-start);
  flex: 1;
  padding: 36px;
  // position: relative;
}

.video-row {
  @include dflex($gp: 16px);
}
