@import "./../../../../mixin.scss";

.wrapper {
  min-height: 100vh;
  min-height: 100svh;
  width: 100vw;
  width: 100svw;
  display: flex;
  flex-direction: column;
  background-color: rgba(25, 25, 25, 1);
}

main {
  @include flexCol($ai: flex-start, $gp: 36px);
  flex: 1;
  padding: 36px;
  // position: relative;
}

.row-wrapper {
  @include flexCol($ai: flex-start, $gp: 16px);
  width: 100%;
  // overflow-x: auto;

  h2 {
    color: rgba(255, 255, 255, 0.7);
  }

  .video-row {
    @include dflex($gp: 16px);
    max-height: 200px;
  }
}
