.red {
  cursor: pointer;
  color: white;
  background-color: rgb(229, 9, 20);
  border: transparent;
  border-radius: 4px;

  transition: background-color 225ms ease-in-out;

  &:hover {
    background-color: black;
  }

  &:active {
    background-color: white;
  }
}

.gray {
  cursor: pointer;
  color: white;
  background-color: rgba(128, 128, 128, 0.4);
  border: transparent;
  border-radius: 4px;

  transition: background-color 225ms ease-in-out;

  &:hover {
    background-color: black;
  }

  &:active {
    background-color: white;
  }
}
