.red {
  cursor: pointer;
  color: white;
  background-color: rgb(229, 9, 20);
  border: transparent;
  border-radius: 4px;

  transition: background-color 225ms ease-in-out;

  &:disabled {
    background-color: lightgrey;
    pointer-events: none;
  }

  &:hover {
    filter: brightness(0.8);
  }

  &:active {
    filter: brightness(0.7);
  }
}

.gray {
  cursor: pointer;
  color: white;
  background-color: rgba(128, 128, 128, 0.4);
  border: transparent;
  border-radius: 4px;

  transition: background-color 225ms ease-in-out;

  &:disabled {
    background-color: lightgrey;
    pointer-events: none;
  }

  &:hover {
    background-color: black;
  }

  &:active {
    background-color: white;
  }
}

.uploading {
  cursor: wait;
  pointer-events: none;
}
