<section [ngClass]="{ 'row-reverse': reverse }">
  <div class="left-wrapper">
    <img src="{{ img }}" alt="" />
  </div>
  <div class="right-wrapper">
    <div class="text-wrapper">
      <h3 translate>{{ headline }}</h3>
      <span translate>{{ technologies }} </span>
      <p translate>
        {{ description }}
      </p>
    </div>
    <div class="buttons-wrapper">
      <a
        translate
        target="_blank"
        class="button project-button"
        href="{{ projectLink }}"
        >Live test</a
      >
      <a target="_blank" class="button github-button" href="{{ githubLink }}"
        >Github</a
      >
    </div>
  </div>
</section>
