section {
  display: flex;
  justify-content: space-between;
  gap: 34px;
  align-items: center;
  position: relative;
  z-index: 100;

  .left-wrapper {
    max-width: 40vw;

    > img {
      width: 100%;
    }
  }

  .right-wrapper {
    display: flex;
    flex-direction: column;
    gap: 35px;
    max-width: 40vw;

    .text-wrapper {
      display: flex;
      flex-direction: column;
      gap: 15px;

      h3 {
        color: var(--purple);
      }

      span {
        color: var(--green);
        font-size: 23px;
      }

      p {
        font-size: 16px;
      }
    }

    .buttons-wrapper {
      display: flex;
      gap: 34px;

      .button {
        text-decoration: none;
        padding: 15px 30px;
        color: white;
        border-radius: 10px;
        font-size: 23px;
        transition: all ease-in-out 300ms;
      }

      .project-button {
        background-color: var(--purple);
        text-align: center;

        &:hover {
          background-color: var(--green);
        }
      }

      .github-button {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid var(--green);

        &:hover {
          background-color: var(--green);
        }
      }
    }
  }
}

.row-reverse {
  flex-direction: row-reverse;
}
