<div class="wrapper">
  <app-header></app-header>
  <main>
    <form [formGroup]="signupForm" (ngSubmit)="signup()">
      <h1>Sign-Up</h1>

      <app-form-input-with-error
        formControlName="username"
        [placeholder]="'Username'"
        [type]="'text'"
        [errorSet]="'username'"
        [control]="username"
      ></app-form-input-with-error>

      <app-form-input-with-error
        formControlName="email"
        [placeholder]="'E-Mail'"
        [type]="'email'"
        [errorSet]="'email'"
        [control]="email"
      ></app-form-input-with-error>

      <app-form-input-with-error
        formControlName="password"
        [placeholder]="'Password'"
        [type]="'password'"
        [errorSet]="'password'"
        [control]="password"
      ></app-form-input-with-error>

      <app-form-input-with-error
        formControlName="passwordRepeat"
        [placeholder]="'Repeat your Password'"
        [type]="'password'"
        [errorSet]="'repeat'"
        [control]="passwordRepeat"
      ></app-form-input-with-error>

      <div>
        <label>
          <input formControlName="privacyPolicy" type="checkbox" />
          &nbsp;
          <span>I have read and agree to the</span>
          &nbsp;
          <a target="_blank" routerLink="/privacy-policy">Privacy Policy.</a>
        </label>
        @if (privacyPolicy?.touched && privacyPolicy?.value === false) {
        <div class="error-message">Please accept our privacy policy</div>
        }
      </div>

      <app-button-without-icon
        [content]="'Sign Up'"
        [type]="'subbmit'"
        [colorStyle]="'red'"
        [height]="'40px'"
        [width]="'100%'"
        [fontWeight]="700"
      ></app-button-without-icon>
    </form>
  </main>
</div>
