@import "./../../../mixin.scss";

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;

  width: 100vw;
  min-height: 100vh;
  min-height: 100svh;

  @media screen and (max-width: 600px) {
    padding: 16px;
    gap: 30px;
  }

  .landing-overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 100;

    .background {
      position: relative;
      width: 100%;
      height: 100%;
      background: linear-gradient(1deg, #313ae5 1.22%, #797ef3 98.76%);
    }

    .logo-mask {
      position: absolute;
      top: 0;
      bottom: 0;
      left: calc(50% - 90px); // 50% - (img-width / 2)
      right: 0;
      width: calc(180px + 16px); // img width + 16px
      z-index: 1;

      @media screen and (max-width: 600px) {
        width: calc(70px + 16px);
        left: calc(50% - 35px);
      }

      background: linear-gradient(
        1deg,
        rgba(49, 58, 229, 1) 1.22%,
        rgba(121, 126, 243, 1) 98.76%
      );
    }

    .logo-wrapper {
      position: absolute;
      left: calc(50% - 90px); // 50% - (img-width / 2)
      top: calc(50% - 90px); // 50% - (img-width / 2)

      @include dFlex($gp: 16px, $jc: flex-start);
      overflow-x: hidden;
      width: calc(180px + 16px + 235px); //img width + gap + span-width

      @media screen and (max-width: 600px) {
        left: calc(50% - 35px);
        width: 212px;
      }

      img {
        position: relative;
        z-index: 1;

        width: 180px;
        height: 180px;

        @media screen and (max-width: 600px) {
          height: 70px;
          width: 70px;
        }
      }

      span {
        font-size: 48px;
        font-weight: 700;
        position: absolute;
        color: white;
        left: -60px;

        @media screen and (max-width: 600px) {
          font-size: 26px;
        }
      }
    }
  }

  .mobile-overlay {
    display: none;

    @media screen and (max-width: 600px) {
      display: block;
    }
  }

  @media screen and (max-width: 600px) {
    .desktop-overlay {
      display: none;
    }
  }

  .login-header {
    @include dFlex($jc: space-between);
    padding: 25px 45px;
    width: 100%;

    @media screen and (max-width: 600px) {
      justify-content: center;
      padding: 0 !important;
    }

    .logo-wrapper {
      @include dFlex($gp: 16px);
      height: calc(128px - 50px);
      opacity: 0;

      span {
        font-size: 26px;
        font-weight: 700;
      }
    }

    .register-wrapper {
      display: flex;
      flex-direction: column;
      gap: 8px;
      font-size: 18px;

      @media screen and (max-width: 600px) {
        display: none;
      }
    }
  }

  .mobile-register-wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 18px;
    display: none;

    @media screen and (max-width: 600px) {
      display: flex;
    }

    a {
      padding: 7px 18px;
      border-radius: 25px;
      border: 1px solid var(--main-dark-blue);
      color: var(--main-dark-blue);
      text-decoration: none;
      font-weight: 700;
    }
  }

  .legal-wrapper {
    @include dFlex($gp: 16px);
    padding-bottom: 25px;

    @media screen and (max-width: 600px) {
      display: none;
    }
  }

  .link {
    padding: 10px 15px;
    color: rgba(121, 126, 243, 1);
    font-size: 18px;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 22px;

    &:hover {
      border: 1px solid black;
      font-weight: 500;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 30px;
    border-radius: 30px;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.08);
    gap: 20px;
    max-width: 600px;

    .form-info {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 15px;

      @media screen and (max-width: 600px) and (max-height: 850px) {
        gap: 8px;
      }

      h2 {
        color: var(--main-dark-blue);
        font-size: 46px;
        font-weight: 700;

        @media screen and (max-width: 600px) and (max-height: 850px) {
          font-size: 36px;
        }
      }

      p {
        font-size: 20px;

        @media screen and (max-width: 600px) and (max-height: 850px) {
          font-size: 16px;
        }
      }
    }

    .input-with-error-wrapper {
      width: 100%;
      position: relative;

      span {
        position: absolute;
        color: rgb(237, 29, 119);
        font-size: 14px;

        @media screen and (max-width: 600px) {
          width: 280px;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
        }
      }
    }

    .input-wrapper {
      @include dFlex();
      width: 100%;
      height: 60px;
      position: relative;

      img {
        position: absolute;
        left: calc((60px - 24px) / 2);
      }

      input {
        width: 100%;
        height: 100%;
        font-size: 18px;
        border-radius: 30px;
        padding-left: 60px;
        border: none;
        background-color: var(--main-bg-color);
      }
    }

    a {
      padding: 5px 15px;
      border-radius: 14px;
      text-decoration: none;

      &:hover {
        background-color: var(--main-bg-color);
      }
    }

    .seperator-wrapper {
      @include dFlex($gp: 36px);
      width: 100%;

      span {
        text-transform: uppercase;
      }

      div {
        width: 100%;
        border-bottom: 1px solid rgb(173, 176, 217);
      }
    }

    .button-with-icon {
      @include dFlex($gp: 36px);
      font-size: 18px;
      width: 100%;
      height: 60px;
      border: none;
      border-radius: 30px;
      background-color: var(--main-bg-color);
      color: var(--main-dark-blue);
      padding: 11px 32px;
      cursor: pointer;

      @media screen and (max-width: 450px) {
        padding: 11px 12px;
        gap: 8px;
      }

      &:hover {
        border: 1px solid var(--main-dark-blue);
        font-weight: 700;
      }
    }

    .login-button-wrapper {
      @include dFlex($gp: 36px);
      width: 100%;

      @media screen and (max-width: 600px) {
        gap: 20px;
      }

      button {
        font-size: 18px;
        font-weight: 700;
        padding: 12px 25px;
        min-height: 50px;
        border: unset;
        border-radius: 25px;
        cursor: pointer;
        transition: all 225ms ease-in-out;

        @media screen and (max-width: 450px) {
          padding: 12px 12px;
        }

        @media screen and (max-width: 600px) and (max-height: 850px) {
          font-size: 15px;
        }
      }

      .login-button {
        background-color: var(--main-dark-blue);
        color: white;

        &:hover {
          filter: brightness(1.5);
        }
      }

      .guest-login-button {
        background-color: white;
        color: var(--main-dark-blue);
        border: 1px solid var(--main-dark-blue);

        &:hover {
          background-color: var(--main-dark-blue);
          color: white;
        }
      }
    }
  }

  .disabled-button {
    background-color: rgb(66, 64, 64) !important;
    pointer-events: none !important;
    transition: none !important;
  }

  .login-message {
    position: absolute;
    right: 50px;
    bottom: 50px;
    border-radius: 30px 30px 0px 30px;
    box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.2);
    font-size: 30px;
    font-weight: 700;
    padding: 50px;
    background-color: var(--main-dark-blue);
    color: white;
  }

  .opacity1 {
    opacity: 1 !important;
  }
}
