* {
  margin: 0;
  box-sizing: border-box;
  font-family: roboto;
}

body,
html {
  width: 100vw;
  width: 100svw;
  min-height: 100vh;
  min-height: 100svh;
  overflow-x: hidden;
}

p {
  text-wrap: pretty;
}

h1 h2 h3 {
  text-wrap: balance;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.8);
}

::-webkit-scrollbar-thumb {
  background: rgb(136, 136, 136);
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
