* {
  margin: 0 !important;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  max-width: 1960px;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

html {
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  background-color: var(--darkBlueBg);
}

h1 {
  color: white;
  font-size: 75px;
  line-height: 75px;

  @media screen and (max-width: 1250px) {
    font-size: 64px;
  }

  @media screen and (max-width: 600px) {
    font-size: 36px;
    line-height: 36px;
  }
}

h2 {
  color: white;
  font-size: 75px;
  line-height: 75px;

  @media screen and (max-width: 1250px) {
    font-size: 50px;
  }
}

h3 {
  font-size: 32px;
}

.header {
  position: fixed;
  top: 0;

  width: 100%;
  max-width: 1960px;
  z-index: 1000;
}

.header-margin {
  margin-top: 110px !important;
}

:root {
  --green: rgba(112, 230, 28, 1);
  --lightBlue: rgba(28, 218, 230, 1);
  --purple: rgba(151, 71, 255, 1);
  --darkBlueBg: rgba(20, 29, 47, 1);
  --darkBlueTransparent: rgba(20, 29, 47, 0.8);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px var(--darkBlueBg) inset !important;
}

input:-webkit-autofill {
  -webkit-text-fill-color: white !important;
}

.no-pointer-events {
  pointer-events: none;
}
