* {
  margin: 0;
  box-sizing: border-box;
  font-family: roboto;
}

body,
html {
  width: 100vw;
  width: 100svw;
  min-height: 100vh;
  min-height: 100svh;
  overflow-x: hidden;
}

p {
  text-wrap: pretty;
}

h1 h2 h3 {
  text-wrap: balance;
}
