<section>
  <div class="header">
    <div *ngIf="recipient.name" (click)="openUserDetails()" class="user-info">
      <img
        class="profilePic"
        src="./assets/img/{{ recipient.profileImg }}"
        alt="profileImg"
      />
      <span>{{ recipient.name }}</span>
    </div>
  </div>
  <div class="chat-area">
    <div *ngIf="conversation.messages.length === 0">
      NOCH KEINE NACHRICHTEN WRAPPER
    </div>
    <div *ngFor="let message of conversation.messages" class="msg-wrapper">
      <img src="./assets/img/{{ message.profileImg }}" alt="profileImg" />
      <div>
        <div class="msg-header">
          <span>{{ message.sender }}</span>
          <p>14:25 Uhr</p>
        </div>
        <div class="msg-content">
          <p>{{ message.content }}</p>
        </div>
        <div class="thread-info"></div>
      </div>
    </div>
  </div>
  <div class="input-area">
    <form [formGroup]="sendMessageForm" (ngSubmit)="sendPm()">
      <textarea formControlName="message" cols="30" rows="10"></textarea>
      <button type="submit">Send</button>
    </form>
  </div>
</section>
