<section>
  <div class="header">
    <div *ngIf="recipient.name" (click)="openUserDetails()" class="user-info">
      <img
        class="profilePic"
        src="./assets/img/{{ recipient.profileImg }}"
        alt="profileImg"
      />
      <span>{{ recipient.name }}</span>
    </div>
  </div>
  <div class="chat-area"></div>
  <div class="input-area">
    <form [formGroup]="sendMessageForm" (ngSubmit)="sendPm()">
      <textarea formControlName="message" cols="30" rows="10"></textarea>
      <button type="submit">Send</button>
    </form>
  </div>
</section>
