section {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: white;
  border-radius: 30px;

  .header {
    padding: 20px 45px;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.08);

    .user-info {
      display: flex;
      align-items: center;
      padding: 4px 8px;
      border-radius: 30px;
      gap: 15px;
      cursor: pointer;
      width: fit-content;
      position: relative;

      &:hover {
        background-color: var(--main-bg-color);
      }

      .profilePic {
        height: 50px;
        width: 50px;
        border-radius: 50%;
      }

      .online-status-img {
        position: absolute;
        bottom: 5px;
        left: 45px;
      }

      span {
        font-size: 24px;
        font-weight: 700;
      }
    }
  }

  #chat-area {
    flex: 1;
    padding: 16px 32px;
    overflow-y: auto;
    display: flex;
    gap: 32px;
    flex-flow: column nowrap;
  }
  
  #chat-area > :first-child {
      margin-top: auto !important;
  }
  

  .input-area {
    padding: 20px 45px;
  }

  .no-msg-wrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;

    .no-msg-header {
      display: flex;

      gap: 24px;

      align-items: flex-end;

      img {
        height: 100px;
        width: 100px;
        border-radius: 50%;
      }

      span {
        font-size: 24px;
        font-weight: 700;
      }
    }

    > p {
      font-size: 20px;
      color: rgba(104, 104, 104, 1);

      span {
        color: rgba(83, 90, 241, 1);
        cursor: pointer;

        &:hover {
          font-weight: 700;
        }
      }
    }
  }
}
footer {
  margin-top: auto;
  height: 20%;
  border: 1px solid blue;
  border-radius: 15px;
  padding: 20px;
  background-color: white;
  margin-right: 60px;
  margin-left: 60px;
  position: relative;
}
