.sideMenu {
    margin-left: 50px;
    width: 420px;
    min-height: 80vh;
    border-radius: 30px;
    background: var(--White, #FFF);
    padding-top: 20px;
    padding-bottom: 20px;

}

.sideMenuContent {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    flex-shrink: 0;
}

.logoContainer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;

    h1 {
        color: var(--Black, #000);
        font-family: Nunito;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
}

.logoMenu {
    height: 60px
}

.edit_square {
    height: 15px;
    cursor: pointer;

    &:hover {
        filter: brightness(0) saturate(100%) invert(29%) sepia(14%) saturate(2736%) hue-rotate(164deg) brightness(104%) contrast(98%);
    }
}

.channels {
    display: flex;
    align-items: flex-start;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;


}



.dropDownIcon {
    height: 20px;
    margin-right: 20px;
}

.subChannels {
    display: flex;
    align-items: flex-start;
    cursor: pointer;
}

.channelHeaders {
    display: flex;
    align-items: center;
    cursor: pointer;

    &:hover {
        filter: brightness(0) saturate(100%) invert(29%) sepia(14%) saturate(2736%) hue-rotate(164deg) brightness(104%) contrast(98%);
    }
}


.addIcon {
    cursor: pointer;

    &:hover {
        filter: brightness(0) saturate(100%) invert(29%) sepia(14%) saturate(2736%) hue-rotate(164deg) brightness(104%) contrast(98%);
    }
}

.addIconDiv {
    display: flex;
    align-items: center;
    border-radius: 50%;

    &:hover {
        background-color: #ECEEFE;
    }
}

.channelsSpans {
    width: 100%;

    .forHover {
        font-size: 22px;
        line-height: 1.1;
        cursor: pointer;
    }
}


.dropDownContent {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    top: 100%;
    left: 0;
    background-color: white;
    display: flex;
    flex-direction: column;
    line-height: 2.8;
}


.account_icon {
    height: 24px;
    width: 24px
}

.icons {
    display: flex;
}

.icon {
    height: 21px;
    margin-right: 15px;
    margin-left: 30px;
}

.subIcon {
    height: 21px;
    margin-right: 15px;
}

.dropDownSubDiv {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:hover {
        filter: brightness(0) saturate(100%) invert(29%) sepia(14%) saturate(2736%) hue-rotate(164deg) brightness(104%) contrast(98%);
    }
}

.profilePic {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-right: 15px;
}