<section>
  <div class="header">
    <img src="./assets/img/logo.png" alt="logo" />
  </div>
  <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
    <img
      class="arrow-back"
      src="./assets/img/arrow_back.svg"
      alt="arrow_back"
      [routerLink]="'/login'"
    />
    <h2>Passwort zurücksetzen</h2>

    <div class="input-wrapper">
      <input
        type="password"
        formControlName="password"
        placeholder="Neues Passwort"
      />
    </div>

    <div class="input-with-error-wrapper">
      <div class="input-wrapper">
        <input
          type="password"
          formControlName="passwordRepeat"
          placeholder="Neues Kennwort bestätigen"
        />
      </div>
      <span
        *ngIf="
          passwordRepeat.touched &&
          resetPasswordForm.hasError('passwordMismath', 'passwordRepeat')
        "
        >Ihre Kennwörter stimmen nicht überein.</span
      >
    </div>
    <div class="button-wrapper">
      <button
        [ngClass]="{ 'active-button': resetPasswordForm.valid }"
        [disabled]="!resetPasswordForm.valid"
        type="submit"
      >
        Passwort ändern
      </button>
    </div>
  </form>
  <div class="legal-wrapper">
    <a class="link">Impressum</a>
    <a class="link">Datenschutz</a>
  </div>
</section>
