form {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 36px;
  background-color: white;
  padding: 40px 90px; //bei anderen komponenten ändern
  border-radius: 30px;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.08);

  max-width: 700px; //bei anderen komponenten ändern

  .arrow-back {
    position: absolute;
    top: 30px;
    left: 30px;
    padding: 8px;
    border-radius: 50%;
    cursor: pointer;

    &:hover {
      background-color: var(--main-bg-color);
    }
  }

  h2 {
    color: var(--main-dark-blue);
    font-size: 46px;
    font-weight: 700;
  }

  .input-with-error-wrapper {
    width: 100%;
    position: relative;

    span {
      color: rgb(237, 29, 119);
      font-size: 14px;
      position: absolute;
    }
  }

  .input-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
    position: relative;

    input {
      width: 100%;
      height: 60px;
      font-size: 18px;
      border-radius: 30px;
      padding-left: 60px;
      border: none;
      background-color: var(--main-bg-color);
    }
  }

  .button-wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-end;

    button {
      font-size: 18px;
      font-weight: 700;
      padding: 12px 25px;
      min-height: 50px;
      border: unset;
      border-radius: 25px;
      cursor: pointer;
      transition: all 225ms ease-in-out;
      background-color: var(--main-dark-blue);
      color: white;

      &:hover {
        filter: brightness(1.5);
      }
    }
  }
}
